@page
@model IndexModel
@{
    ViewData["Title"] = "Product Search";
}

<div class="container my-5">
    <h1>@ViewData["Title"]</h1>

    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="SearchString" placeholder="Search for products">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="tv" id="tvCheck">
                    <label class="form-check-label" for="tvCheck">
                        TVs
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="radio" id="radioCheck">
                    <label class="form-check-label" for="radioCheck">
                        Radios
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="camera" id="cameraCheck">
                    <label class="form-check-label" for="cameraCheck">
                        Cameras
                    </label>
                </div>
            </div>

            <div class="col-sm-3">
                <label for="sortSelect">Sort by:</label>
                <select class="form-select" name="sort" id="sortSelect">
                    <option value="priceLowToHigh">Price (low to high)</option>
                    <option value="priceHighToLow">Price (high to low)</option>
                </select>
            </div>
        </div>

        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        @*<img src="@product.ImageUrl" class="card-img-top" alt="Product Image">*@
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">$@product.Price</p>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="bulkPurchase" value="@product.Id" id="@product.Id">
                                <label class="form-check-label" for="@product.Id">
                                    Buy in bulk and save !!!
                                </label>
                            </div>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>
